
<title>Formulaire d'inscription</title>
<style>

div{

    margin-top:40px;

}
td:has(input){
width:290px;
height:40px;

}
td:has(label){
height:40px;
width:240px;}
td:has(p){
height:40px;
width:200px;
}


input[type="text"],input[type="email"],input[type="password"]{
 width:330px;
 height:25px;
 border:none;
 border-bottom:1px solid #339cff;
 outline: 0;

}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus{

padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color:black;
  }
  input[type="submit"]
{


width:120px;
height:40px;
background-color: #339cff  ;
border-radius:3px;
border:none;
color:white;


}

label{
 margin-left:50px;
}
tr{
height:50px;
}
</style>
<br>

<img src="assets/image/royaume (2).png" style="margin-top:-30px;margin-left:10px;width:100px;height:100px;">


<h1 class="text-align text-center " style="color:#425363;margin-top:-70px;"><b>Ajouter Un Fonctionnaire</b></h1>
<div class="container">

    <form (ngSubmit)="onSubmit()">
     <table>
          <tr>
             <td><br><br></td>
          </tr>
          <tr>
             <td><label>Nom : </label></td>
             <td>
                <input type="text" id="nom" [(ngModel)]="demande.nom" name="nom">
             </td>

             <td><p></p></td>
             <td><label>Prénom : </label></td>
             <td>
                <input type="text" id="prenom" [(ngModel)]="demande.prenom" name="prenom">

             </td>
          </tr>
          <tr>
             <td><label>CIN : </label></td>
             <td>
                <input type="text" id="cin" [(ngModel)]="demande.cin"name="cin">
             </td>
             <td><p></p></td>
             <td><label>Adresse :</label> </td>
             <td>
                <input type="text" id="adr" [(ngModel)]="demande.adresse" name="adr">
             </td>

          </tr>
          <tr>

              <td><label>Telephone :</label> </td>
             <td>
                <input type="text" id="tel" [(ngModel)]="demande.tel" name="tel">
             </td>
             <td><p></p></td>
             <td><label>Fonction :</label> </td>
             <td>
                <input type="text"  id="code" [(ngModel)]="demande.fonction" name="code">
             </td>
          </tr>




<tr>
  <td><label>Email :</label> </td>
  <td>
     <input type="email"  id="email" [(ngModel)]="demande.email" name="email">
  </td>

<td><p></p></td>
             <td><label>Password :</label> </td>
             <td>
                <input type="password" id="pass" [(ngModel)]="demande.password" name="pass">
             </td>
             </tr>

             <tr></tr>
          <tr>
          <td></td>
          <td></td>
             <td colspan="5">
                <input type="submit" value="Ajouter" >
             </td>
             <td></td>
             <td></td>
          </tr>
     </table>
  </form>
  </div>


